@{
    ViewBag.Title = "Home";
}

<h2>Name: Saida Binta Alam</h2>
<p>ID: 20-43880-2</p>
<p>Email: oyshbinte@gmail.com</p>
<p>Contact No: 01675453434</p>

<div class="footer">
    <a href="@Url.Action("Index", "Home")">Home</a>
    <a href="@Url.Action("Education", "Home")">Education</a>
    <a href="@Url.Action("ProjectInfo", "Home")">ProjectInfo</a>
    <a href="@Url.Action("Reference", "Home")">Reference</a>
</div>