
@{
    ViewBag.Title = "Reference";
}

<h2>Reference</h2>
<ul>
    <li>
        <h3>PROF. DR. MD. ASRAF ALI</h3>
        <p>Professor , Computer Science</p>
        <p>American International University of Bangladesh</p>
        <p>asrafali@aiub.edu</p>
    </li>
    <li>
        <h3>MD HASIBUL HASAN</h3>
        <p>Assistant Professor , Computer Science</p>
        <p>American International University of Bangladesh</p>
        <p>hasib.hasan@aiub.edu</p>
    </li>
</ul>

<div class="footer">
    <a href="@Url.Action("Index", "Home")">Home</a>
    <a href="@Url.Action("Education", "Home")">Education</a>
    <a href="@Url.Action("ProjectInfo", "Home")">ProjectInfo</a>
    <a href="@Url.Action("Reference", "Home")">Reference</a>
</div>

